<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://tse4.mm.bing.net/th?id=OIP.RYnqLKuYnOKjoWDZbWFe4gHaEy&pid=Api&P=0&h=180"
      cardTitle="CARRO ANTIGO VENDIDO POR PREÇO INACREDITAVEL"
      cardDescription="Carro antigo é vendido por um preço surpreendentemente elevado! O vendedor compartilha sua experiência e revela os detalhes fascinantes por trás desse negócio histórico"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="DESCOBERTA RARA: COLEÇÃO DE CARROS ANTIGOS ENCONTRADA EM CELEIRO ABANDONADO"
      photoCover="https://tse2.mm.bing.net/th?id=OIP.-O3o_cINUazA3Y6IEBfhtAHaEX&pid=Api&P=0&h=180"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="FERRARI LANÇA MODELO EXCLUSIVO COM DESIGN INOVADOR E DESEMPENHO EXCEPCIONAL"
      photoCover="https://tse2.mm.bing.net/th?id=OIP.3dQN4Xikw8qBxvBG9iMe0gHaEK&pid=Api&P=0&h=180"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="RESTAURAÇÃO IMPRESSIONANTE: CARRO CLÁSSICO DOS ANOS 60 GANHA NOVA VIDA"
      photoCover="https://tse4.mm.bing.net/th?id=OIP.sgXAxblqZT3C7iaVlMh-ZgHaEo&pid=Api&P=0&h=180"
    >
    </app-small-card>
  </div>
</div>
<div class="container__news">
    <app-medium-card
    Id="5"
    cardTitle="NOVO MODELO ELÉTRICO REVOLUCIONA O MERCADO AUTOMOTIVO"
    photoCover="https://tse3.mm.bing.net/th?id=OIP.VpnhAkiRcWK9DRDiGaGA5wHaEt&pid=Api&P=0&h=180"
    ></app-medium-card>

    <app-medium-card
    Id="6"
    cardTitle="CARRO AUTÔNOMO ATINGE MARCO HISTÓRICO DE 1 MILHÃO DE QUILÔMETROS SEM ACIDENTES"
    photoCover="https://tse2.mm.bing.net/th?id=OIP.QMQN0bDRVz1LORG5-jsvHQHaEK&pid=Api&P=0&h=180"
    ></app-medium-card>

    <app-medium-card
    Id="7"
    cardTitle="LANÇAMENTO AGUARDADO: NOVA GERAÇÃO DO CLÁSSICO ESPORTIVO CHEGA AO MERCADO"
    photoCover="https://tse1.mm.bing.net/th?id=OIP.nFGHhMnQNuOrA56LLYkl7gHaEK&pid=Api&P=0&h=180"
    ></app-medium-card>

    <app-medium-card
    Id="8"
    cardTitle="CARROS ELÉTRICOS DOMINAM AS VENDAS E SUPERAM VEÍCULOS A COMBUSTÃO"
    photoCover="https://tse4.mm.bing.net/th?id=OIP.fWByCekS-CdC3omv_XZT4gHaEK&pid=Api&P=0&h=180"
    ></app-medium-card>
</div>
<app-footer></app-footer>
