<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://tse4.mm.bing.net/th?id=OIP.RYnqLKuYnOKjoWDZbWFe4gHaEy&pid=Api&P=0&h=180"
      cardTitle="CARRO ANTIGO VENDIDO POR PREÇO INACREDITAVEL"
      cardDescription="Carro antigo é vendido por um preço surpreendentemente elevado! O vendedor compartilha sua experiência e revela os detalhes fascinantes por trás desse negócio histórico"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="DESCOBERTA RARA: COLEÇÃO DE CARROS ANTIGOS ENCONTRADA EM CELEIRO ABANDONADO"
      photoCover="https://tse2.mm.bing.net/th?id=OIP.-O3o_cINUazA3Y6IEBfhtAHaEX&pid=Api&P=0&h=180"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="FERRARI LANÇA MODELO EXCLUSIVO COM DESIGN INOVADOR E DESEMPENHO EXCEPCIONAL"
      photoCover="https://tse2.mm.bing.net/th?id=OIP.3dQN4Xikw8qBxvBG9iMe0gHaEK&pid=Api&P=0&h=180"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="RESTAURAÇÃO IMPRESSIONANTE: CARRO CLÁSSICO DOS ANOS 60 GANHA NOVA VIDA"
      photoCover="https://tse4.mm.bing.net/th?id=OIP.sgXAxblqZT3C7iaVlMh-ZgHaEo&pid=Api&P=0&h=180"
    >
    </app-small-card>
  </div>
</div>
<div class="container__articles">
  
</div>
